* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s;
    scroll-behavior: smooth;
}
body {
    background-color: #000;
    overflow-x:hidden;
}
header {
    width: 100%;
    background-color: #000;
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
}
.logo {
    height: 4rem;
    width: 6rem;
}
nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 0rem;
}
li {
    display: inline-block;
    font-size: 0.8rem;
}
.ul__a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid white;
    padding: 0px 10px;
} 
.ul__a:hover{
    border-bottom: none;
    border-bottom: 2px solid green;
    background-image: linear-gradient(to bottom, black, rgba(0, 112, 0, 0.551));
}
#back {
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: 30%;
    grid-area: back;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid white;
    height: 80vh;
}
h1 {
    color: white;
    font-size: 5rem;
    text-shadow: 3px 3px 30px green;
    animation: move 1s 0.2s ease-out backwards;
    text-align: center;
}
.h1__X {
    color: black;
    text-shadow: 0px 0px 10px green;
    font-size: 8rem;
    border: none;
}
.producto {
    height: 15rem;
    width: 15rem;
    filter: drop-shadow(-5px 5px 20px #030);
    animation: spawn 1s backwards ease-out;
}
@keyframes spawn {
    0%{
        transform: scale(0);
        filter: opacity(0);
    }
    100%{
        transform: scale(1);
        filter: opacity(1);
    }
}
@keyframes move {
    0%{
        transform: translate(-1000px);
    }
    100%{
        transform: translate(0px);
    }
}
section {
    background-color: #000;
}
.section1 {
    grid-area: section1;
    padding: 1rem;
    border: 1px solid black;
}
.section2 {
    grid-area: section2;
    padding: 1rem;
    border: 1px solid black;
}
.section3 {
    grid-area: section3;
    padding: 1rem;
    border: 1px solid black;
}
.section4 {
    grid-area: section4;
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}
.section {
    border: 1px solid #060;
    border-left: 10px solid #060;
    border-right: 10px solid #060;
    border-top-left-radius: 5% 12%;
    border-bottom-right-radius: 5% 12%;
    background-image: url(textura.jpg);
    filter: saturate(2) brightness(1.5);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 5rem 1rem 0rem 1rem;
}
.xbox img {
    height: 18rem;
    width: 18rem;
    object-fit: cover;
    filter: drop-shadow(0px 0px 5px green);
}
.container__ul{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.container__ul li {
    font-size: 1rem;
    padding: .6rem;
}
.container__product h3 {
    font-size: 1.8rem;
}
.container__product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sell__button {
    background-color: #060;
    border: #060;
    width: 90%;
    height: 3rem;
}
.sell__button:hover {
    background-color: #080;
    border: #080;
}
.text {
    display: flex;
    width: 100%;
    position: relative;
    top: 3rem;
    left: 2rem;
}
label {
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px 20px;
    margin: 0rem 1rem 0rem 0rem;
}
h3 {
    color: #fff;
}
p {
    color: #fff;
    font-size: 1rem;
}
p::selection,li::selection,h3::selection,h5::selection,button::selection {
    background-color: #030;
}
h1::selection {
    background-color: transparent;
}
form {
    margin-top: 12%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    background-image: url(textura.jpg);
    filter: saturate(2) brightness(1.5);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid #060;
    border-left: 10px solid #060;
    border-right: 10px solid #060;
}
.form__label {
    border: none;
    color: white;
    padding: 1rem 0rem 1rem 2rem;
}
input {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    border: none;
    outline: none;
    margin: 0rem 1rem;
    height: 5rem;
    width: 50%;
    padding: 0rem 2rem 0rem 2rem;
    border-bottom: 2px solid #060;
}
input:focus {
}
input[type="submit"] {
    padding: 0rem 2rem;
    background-color: #111;
    border: 3px solid #030;
    width: 45%;
    height: 5rem;
    margin: 3rem 0rem 3rem 0rem;
}
input[type="submit"]:hover {
    background-color: #060;
    border: 3px solid #060;
}
footer {
    height: 50px;
    margin-top: 5%;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
h5 {
    color: white;
    font-size: 1rem;
}
@media (max-width:700px) {
    #back {
        display: flex;
        flex-direction: column;
    }
    header {
        height: 5%;
    }
    h1 {
        font-size: 2rem;
    }
    .h1__X {
        font-size: 4rem;
    }
    input {
        width: 85%;
    }
    .producto {
        height: 15rem;
        width: 15rem;
        filter: drop-shadow(-5px 5px 50px #060);
    }
    .section4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        grid-area: section4;
    }
    .container__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #333;
        border-radius: 10px;
        border: 1px solid #060;
    }
    .xbox {
        height: 100%;
    }
    .xbox img {
        height: 8rem;
        width: 8rem;
        object-fit: cover;
    }
}